sample.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GasReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="idCode"/>
        <xs:element type="xs:dateTime" name="gasDayStart"/>
        <xs:element type="xs:dateTime" name="gasDayEnd"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>