sample.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.acer.europa.eu/REMIT/REMITStorageSchema_V1.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="REMITStorageReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reportingEntityIdentifier">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="acerCode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:dateTime" name="submissionDateTime"/>
        <xs:element name="storageFacilityReport">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:dateTime" name="gasDayStart"/>
              <xs:element type="xs:dateTime" name="gasDayEnd"/>
              <xs:element type="xs:byte" name="reportingEntityReferenceID"/>
              <xs:element type="xs:string" name="storageType"/>
              <xs:element name="storage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="value"/>
                    <xs:element type="xs:string" name="unit"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="injection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="value"/>
                    <xs:element type="xs:string" name="unit"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="withdrawal">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="value"/>
                    <xs:element type="xs:string" name="unit"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>